@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(250, 235, 215, 0.101);
    /* overflow-x: hidden; */
   
}
 /*!home page stylings  */
 #home_page{
 background-color: #faf4eb;
 }
nav{
    /* height: 13vh; */
    height: auto;
    width: 100%;
    padding: 0px 150px;
    background-color: rgb(244, 217, 188);
    display: flex;
    gap: 20%;
    align-items: center;
   justify-content: center;  
   border: none;
   z-index: 10;
   position: sticky;
}

#nav_one{
/* font-size: large; */
flex-basis: 25%;
padding-left: 30px;
background-color: rgb(244, 217, 188);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(244, 217, 188);
    font-size: 2.3em;
    margin: 10px;
     
}
#icon{
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    height: 75px;
    width: 60px;
}
#nav_two{
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 16px;
    flex-basis: 50%;
    background-color: rgb(244, 217, 188);
} 

#nav_two>a{
    color: black;
    text-decoration: none;
    /* gap: 10px; */
    font-size: 18px;
    background-color: rgb(244, 217, 188);
}
#nav_two>a:hover{
    text-decoration: underline;
    color: darkorchid;
}
#nav_three{
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    /* flex-basis: 25%; */
    display: flex;
    align-items: center;
   justify-content: center; 
   background-color: rgb(244, 217, 188);
}
.fa-solid{
    /* height: 80px; */
    font-size: 25px;
}
#nav_three>div{
    display: flex;
    align-items: center;
   justify-content: center; 
}
#cart_quantity{
    /* font-size: 15px; */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
   position: relative;
   right: 15px;
   bottom:20px;
}
#cart_price{
 font-size: 1.25em;
background-color: rgb(244, 217, 188);
text-overflow: ellipsis;
}

#home_page_header{
 height: 85vh;
 background: url("./assets/Bakery\ Background.jpg") no-repeat center fixed ;
 /* background-repeat: no-repeat; */
 background-size: cover;
 background-position: center;
margin:20px 20px;
border-radius: 40px; 
transition: all 1s 0s ease;
}
 
#home_page_header:hover {
  filter: brightness(100%);
  /* transition: all 1s ease; */
}

article{
    height: 25vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
article>h1{
    margin-top: 15px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article>p{
    font-weight: 600;
    font-size: 20px;
}
.btn_1{
    color: white;
    background-color: orange;
    height: 35px;
    width: 120px;
    font-size: 20px;
    border: none;
    border-radius: 10px ;
    padding-bottom: 5px;
   
}
.btn_1:hover{
    color: white;
    background-color: rgba(255, 166, 0, 0.84);
    height: 35px;
    width: 120px;
    font-size: 20px;
    border: none;
    border-radius: 10px ;
    padding-bottom: 5px;
    scale: 1.1;
   
}
#praveen{
    height: 45vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:20px;
   
}
#praveen>h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 25px;
 margin-bottom: 25px;
 text-align: center;
 margin-left: 100px
}
#items_container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    width:100%;
    gap: 70px;
}
.items{
    box-shadow: 20; 

}
.items>img{
    height: 200px;
    width:200px;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;

}
.items>img:hover{
    scale: 1.1;
    filter: blur(0px);
}
.items>p{
    text-align: center;
    font-weight: 550;
    /* font-size: 15px; */
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 10px;
}
#home_page_footer{
  
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
}
#home_page_footer>h2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-top: 20px ;
    margin-bottom: 10px; */
}
#home_page_footer>p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#home_page_footer>button{
    margin-top: 10px;

}

/*! About page stylings*/

#about_us{
    height: 30vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* margin: 10px 50px; */
}
#about_us>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
 
}
#about_us>p{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 25px;

}  
#about_page_desc{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
    margin: 0px 20px;
}
.desc_one{
/* border: 2px solid black; */
flex-basis: 30%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.desc_one>h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
}
.desc_one>p{
    text-align: center;
}
.desc_two{
flex-basis: 40%;
display: flex;
justify-content: center;
align-items: center;
}
.desc_two>img{
    height: 108%;
    width: 80%;
    border-radius: 30%;
    margin: 10px;
}
.desc_three{
flex-basis: 30%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.desc_three>h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
}
.desc_three>p{
    text-align: center;
}
#about_page_footer{
    height: 50vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 18vw;
}
#about_footer_img>img{
    height: 320px;
    width:  500px;
    border-radius:20px;
    margin-left:35px ;
}
#about_footer_one{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 15px;  
}
#about_footer_one>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 15px;
}

/*!Contact page Styles  */
#contact_page{
    height: 85vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
#contact_one{
    /* border: 1px solid blue; */
    display: flex;
   flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
   flex-basis: 50%;
   gap: 40px;
   margin-bottom: 30px;
}
#contact_one>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
#contact_one>form{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:100%;
}
form>input{
    width: 68%;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.563);
    padding-left: 15px;
    border-radius: 10px;
}
form>textarea{
     border-radius: 10px;
     width:68%;
     border: 1px solid rgba(0, 0, 0, 0.563);
}
#contact_two{
    /* border: 2px solid black; */
    height: 60vh;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}
#contact_two>h1{
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 120px;
}
#contact_two>div{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    gap: 10px;

}
/*!/! Menu Page Styles .......*/
 
#menu_filter{
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#menu_filter>h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}
#filter_btns{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#filter_btns>button{
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.176);
  font-weight: 500;
  font-size: 16px;
}
#filter_btns>.active{
  color: white;
  background-color: orange;
}

#menu_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
  height: 350px;
  width: 350px;
  /* height: 40vh; */
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid rgba(0, 0, 0, 0.033);
  border-radius: 10px;
  margin: 20px;
   
}

.card_one{
  /* border: 2px solid blue; */
  /* flex-basis: 70%; */
  /* height:280px ; */
  display: flex;
  justify-content: space-evenly; /*  change space -evenly*/
  align-items: center;
  background-color: white;
  flex-direction: row;
  background: none;
}
.card_img{
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}
.card_img>img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  /* margin-left: 5px; */
  background: none;
}
.card_info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card_info>h2{
  padding: 0px 5px;
   text-align: center;
}
.card_info>p{
  text-align: center;
  font-weight: 600;

}
.card_two{
/* border: 2px solid red; */
/* flex-basis: 30%; */
/* height: 60px; */
 display: flex;
 justify-content:space-between;
 align-items: center;
 flex-direction: row;
 gap: 5px;
 padding: 0px 10px 0px 20px;
}
.card_quantity{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 15px;
 margin: 10px 0px;
}
.minus,.plus{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  background-color:chocolate;
  color: white;
}
.quantity{
  font-weight: 700;
  font-size: 20px;
}
.addToCart>button{
 background-color: chocolate;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 1s 0s ease;
  padding: 7px 25px;
}


/*!Cart   */
#sidebar{ 
 position: fixed;
  top: 0;
  right: -350px; 
  width: 380px;
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Poppins", sans-serif;   
}
#sidebar_items{
    height: 80vh;
    background-color:white;
    flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}
#sidebar_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 200px;
    margin:5px 5px; */
}
#close_sidebar{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#items_info{
  
  padding: 12px 8px;
  background: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.2s ease
   
}
.items_info>h5{
 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.remove_btn{
    height: 25px;
    width: 70px;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0.426);
    background-color: rgb(180, 98, 98);
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}
.remove_btn:hover{
    scale: 1.1;
    transition: all 1s ease;
}
.items_info{
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(178, 85, 85, 0.155);
    /* color: white; */
}

.items_info h5,p,.remove{
      margin-left: 20px;
}
.items_info:hover{
    scale: 1.02;
    transition: all 0.3s ease-in-out;
}
#buy_now{
    color: white;
    background-color: rgb(152, 94, 52);
    height: 36px;
    width: 100px;
    border: 0px solid rgba(0, 0, 0, 0.352);
    border-radius: 15px;
    /* position: relative fixed; */
    top: 700px;
    margin-left: 120px;
    
}
#buy_now:hover{
    scale: 1.1;
    transition: all 1s ease;
    
}
#cart_icon {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
}
/* ! Review in Index_page */

#review_section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 2rem;
     background-color: #faf4eb;
     /* height: 60vh; */
}
#reviews>#review_section1>h1{
    font-size: 4rem;
    color: rgba(44, 189, 44, 0.772);
}
#r_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 23rem;
    /* width: ; */
    gap: 1rem;
    /* margin-left: 4rem;
    margin-right: 10rem; */
    margin-left: 12rem;
    margin-right: 15rem;
    /* padding-right: 5rem; */
}
.review_cards{
    height: 18rem;
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem;
    display: flex;
    /* gap: 1.5rem; */
}
.review_cards:hover{
 scale: 1.1;
 transition: all 0.5s ease;
}
.text{
    margin: 1rem;  
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.customer{
    display: flex;
    gap: 0.5rem;
    margin-left: 0.8rem;
    /* flex-direction: ; */
}
.customer_name{
    display: flex;
    flex-direction: column;
}